n8n_import.json
{"name": "Casa Finder BGY1 — Scraper Orario", "nodes": [{"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}}, "id": "a1b2c3d4-0001", "name": "Ogni Ora", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 300]}, {"parameters": {"command": "cd /PATH/TO/casa-finder && python scraper/run_scraper.py"}, "id": "a1b2c3d4-0002", "name": "Esegui Scraper", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"jsCode": "const out = $input.first().json;\nlet r;\ntry { const lines = (out.stdout||\"\").trim().split(\"\n\"); r = JSON.parse(lines[lines.length-1]); } catch(e) { r = {nuovi:0,totale:0,annunci:[]}; }\nreturn [{ json: r }];"}, "id": "a1b2c3d4-0003", "name": "Parsa Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 300]}, {"parameters": {"conditions": {"number": [{"value1": "={{ $json.nuovi }}", "operation": "larger", "value2": 0}]}}, "id": "a1b2c3d4-0004", "name": "Nuovi annunci?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [900, 300]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst annunci = d.annunci||[];\nconst cards = annunci.map(a => `<div style=\"margin-bottom:10px\"><b>${a.titolo}</b><br><span style=\"color:#00d4ff\">€${a.prezzo}/mese</span> | ${a.comune} | ${(a.distanza_km||0).toFixed(1)} km<br><a href=\"${a.url}\">Vedi annuncio</a></div>`).join(\"\");\nreturn [{ json: { html: `<html><body style=\"background:#0a0e1a;color:#e0e0e0;padding:20px\"><h2>Casa Finder BGY1</h2>${cards}</body></html>`, subject: `Casa Finder: ${annunci.length} nuovi annunci` } }];"}, "id": "a1b2c3d4-0005", "name": "Crea Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 200]}, {"parameters": {"fromEmail": "ivan.magon@gmail.com", "toEmail": "ivan.magon@gmail.com", "subject": "={{ $json.subject }}", "emailType": "html", "message": "={{ $json.html }}"}, "id": "a1b2c3d4-0006", "name": "Invia Email", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1340, 200]}], "connections": {"Ogni Ora": {"main": [[{"node": "Esegui Scraper", "type": "main", "index": 0}]]}, "Esegui Scraper": {"main": [[{"node": "Parsa Output", "type": "main", "index": 0}]]}, "Parsa Output": {"main": [[{"node": "Nuovi annunci?", "type": "main", "index": 0}]]}, "Nuovi annunci?": {"main": [[{"node": "Crea Email", "type": "main", "index": 0}], []]}, "Crea Email": {"main": [[{"node": "Invia Email", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "pinData": {}}
